@font-face {
  font-family: "iconfont"; /* Project id 4936267 */
  src: url('iconfont.woff2?t=1755077593759') format('woff2'),
       url('iconfont.woff?t=1755077593759') format('woff'),
       url('iconfont.ttf?t=1755077593759') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuzuche:before {
  content: "\e621";
}

.icon-jiaban:before {
  content: "\e64c";
}

.icon-tianpin:before {
  content: "\e662";
}

.icon-xiuxianwanle:before {
  content: "\e6c5";
}

.icon-jiushui:before {
  content: "\e60e";
}

.icon-qianbao:before {
  content: "\eb1a";
}

.icon-meitiyingyin:before {
  content: "\e636";
}

.icon-xuexi:before {
  content: "\e7f1";
}

.icon-yundongjianshen:before {
  content: "\e60f";
}

.icon-lvhang:before {
  content: "\e612";
}

.icon-huabanfuben:before {
  content: "\e679";
}

.icon-wode-wodejiangjin:before {
  content: "\e622";
}

.icon-qitazhichu:before {
  content: "\e6ec";
}

.icon-lvyou:before {
  content: "\e618";
}

.icon-xiemao:before {
  content: "\e616";
}

.icon-shequjiaofei-01:before {
  content: "\e62b";
}

.icon-lijinshouru:before {
  content: "\e619";
}

.icon-canfei:before {
  content: "\e68f";
}

.icon-nenglitisheng:before {
  content: "\e73e";
}

.icon-jingzichanshouyishuai:before {
  content: "\e6a8";
}

.icon-jiazhuang:before {
  content: "\e77a";
}

